@{
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}
@section Style {
    <link href="~/Lib/css/dandimarket2/common.css" rel="stylesheet" />
}
@section Script {
}


<!-- Home Section -->
<section class="page-section bg-dark-alfa-70" data-background="/Lib/images/common/bg/range-post-web.jpg" style="background-position-y: 152%;">
    <div class="container relative pt-40">
        <div class="align-center">
            <h3 class="section-title">Event</h3>
            <div class="section-heading">#단디마켓</div>
        </div>
    </div>
</section>

<!-- 단디마켓-->
<section class="page-section" style="padding-top: 0px;">
    <div class="container relative pt-40">
        <div class="row">
            <div class="col-sm-11 col-lg-offset-1">
                <div class="dandi-title mb-10 ">해시태그하고 식사권받자!!</div>
            </div>
            <div class="col-sm-12 row mt-30">
                <div class="col-sm-4 mb-10 col-lg-offset-1">
                    <img src="~/Lib/images/common/event/insta1.jpg" />
                </div>
                <div class="col-sm-6 mb-10 align-center col-lg-offset-1">
                    <div class="dandi-content align-center">
                        주목해 주세요! ! 드디어 단디마켓 이벤트 합니다! <br/>
                        이름하여 #단디마켓 해시태그 단디하면 선물(식사권)줄께! <br/>
                        <br/>
                        <span class="dandi-num">1</span>. 인스타그램 dandiproject <a href="http://instagram.com/dandiproject"><i class="fa fa-instagram"></i></a> 를 팔로우해주세요.<br/>
                        <span class="dandi-num">2</span>. 단디마켓 포스터 공유하시고 친구를 태그해주세요.<br />
                        <span class="dandi-num">3</span>. #단디마켓 해시태그를 하시면 추첨을 통해 식사권을 드립니다!
                        <br/><br />
                        단순히 사고파는 '장'이 아닌,
                        누구나 함께 즐기는 '장' 을 만들기 위해서 노력합니다.
                        공연이 있고 원데이 클레스가 있고 참여하고 즐길 요소가 많은 단디마켓!
                        함께해요!!!
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                
            </div>
            
        </div>
    </div>
</section>


